<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="archive"
            describer="zipeditor.model.ZipContentDescriber"
            name="%content-type.name.0"
            priority="normal"/>
      <content-type
            base-type="archive"
            id="zipfile"
            name="%content-type.name.1"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="targzfile"
            name="%content-type.name.2"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="tarfile"
            name="%content-type.name.3"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="gzipfile"
            name="%content-type.name.4"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="bz2file"
            name="%content-type.name.5"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="tarbz2file"
            name="%content-type.name.6"
            priority="normal">
      </content-type>
      <content-type
            base-type="archive"
            id="rpmfile"
            name="%content-type.name.7"
            priority="normal">
      </content-type>
      <file-association
            content-type="ZipEditor.zipfile"
            file-extensions="jar, jmod, zip, war, ear, aar, apk"/>
      <file-association
            content-type="ZipEditor.gzipfile"
            file-extensions="gz"/>
      <file-association
            content-type="ZipEditor.tarfile"
            file-extensions="tar"/>
      <file-association
            content-type="ZipEditor.targzfile"
            file-extensions="tar.gz, tgz"/>
      <file-association
            content-type="ZipEditor.tarbz2file"
            file-extensions="tar.bz2, tbz"/>
      <file-association
            content-type="ZipEditor.bz2file"
            file-extensions="bz2"/>
      <file-association
            content-type="ZipEditor.rpmfile"
            file-extensions="rpm"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="zipeditor.ZipEditor"
            contributorClass="zipeditor.ZipEditorActionBarContributor"
            default="true"
            icon="icons/zipicon.gif"
            id="zipeditor.ZipEditor"
            name="%editor.name.0">
         <contentTypeBinding contentTypeId="ZipEditor.zipfile"/>
         <contentTypeBinding contentTypeId="ZipEditor.gzipfile"/>
         <contentTypeBinding contentTypeId="ZipEditor.tarfile"/>
         <contentTypeBinding contentTypeId="ZipEditor.targzfile"/>
         <contentTypeBinding contentTypeId="ZipEditor.bz2file"/>
         <contentTypeBinding contentTypeId="ZipEditor.tarbz2file"/>
         <contentTypeBinding contentTypeId="ZipEditor.rpmfile"/>
      </editor>
      <editor
            class="zipeditor.ZipEditor"
            contributorClass="zipeditor.ZipEditorActionBarContributor"
            extensions="aar, apk"
            default="true"
            icon="icons/android_archive.png"
            id="zipeditor.AndroidZipEditor"
            name="%editor.name.1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="zipeditor.search.ResultEditorInputProvider"
            id="zipeditor.search.ResultEditorInputProvider"
            inputTypes="zipeditor.search.ResultEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="zipeditor.search.match">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="zipeditor.search.match"
            colorPreferenceKey="search.match.color"
            colorPreferenceValue="206,204,247"
            highlightPreferenceKey="search.match.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="%searchResult.label"
            overviewRulerPreferenceKey="search.match.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="search.match.text"
            textPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="zipeditor.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="zipeditor.NavigatorZipContentProvider"
            icon="icons/zipicon.gif"
            id="zipeditor.navigatorContent"
            labelProvider="zipeditor.ZipLabelProvider"
            name="%navigatorContent.name.0">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.core.resources.IFile"/>
               <instanceof value="zipeditor.model.Node"/>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
               <instanceof value="org.eclipse.core.resources.IFolder"/>
               <instanceof value="org.eclipse.core.resources.IProject"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="zipeditor.model.Node"/>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
               <instanceof value="org.eclipse.core.resources.IFile"/>
               <instanceof value="org.eclipse.core.resources.IFolder"/>
               <instanceof value="org.eclipse.core.resources.IProject"/>
            </or>
         </possibleChildren>
         <commonSorter
               class="zipeditor.ZipSorter"
               id="zipeditor.ZipSorter">
            <parentExpression>
               <or>
                  <instanceof value="zipeditor.model.Node"/>
                  <instanceof value="org.eclipse.core.resources.IFile"/>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider
               class="zipeditor.actions.ZipActionProvider"
               overrides="org.eclipse.ui.navigator.resources.OpenActions">
            <enablement>
               <or>
                  <instanceof value="zipeditor.model.Node"/>
                  <!--instanceof value="org.eclipse.core.resources.IFile"/-->
               </or>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="zipeditor.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="zipeditor.ZipNodePropertyPage"
            id="zipeditor.ZipNodePropertyPage"
            name="%page.name.0"
            objectClass="zipeditor.model.ZipNode"/>
      <page
            class="zipeditor.TarNodePropertyPage"
            id="zipeditor.TarNodePropertyPage"
            name="%page.name.1"
            objectClass="zipeditor.model.TarNode"/>
      <page
            class="zipeditor.search.ElementPropertyPage"
            id="zipeditor.search.ArchivePropertyPage"
            name="%page.name.2"
            objectClass="zipeditor.search.Element">
            <enabledWhen>
               <adapt type="java.lang.Integer">
                  <equals value="1"/>
               </adapt>
            </enabledWhen>
      </page>
      <page
            class="zipeditor.search.ElementPropertyPage"
            id="zipeditor.search.FolderPropertyPage"
            name="%page.name.4"
            objectClass="zipeditor.search.Element">
            <enabledWhen>
               <adapt type="java.lang.Integer">
                  <equals value="2"/>
               </adapt>
            </enabledWhen>
      </page>
      <page
            class="zipeditor.search.ElementPropertyPage"
            id="zipeditor.search.NodePropertyPage"
            name="%page.name.5"
            objectClass="zipeditor.search.PlainNode"/>
      <page
            class="zipeditor.RpmNodePropertyPage"
            id="zipeditor.RpmNodePropertyPage"
            name="%page.name.3"
            objectClass="zipeditor.model.RpmNode"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="false"
            label="%searchPage.name"
            icon="icons/search.gif"
            class="zipeditor.search.ZipSearchPage"
            sizeHint="460,160"
            id="zipeditor.search.ZipSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="zipeditor.search.ZipSearchResultPage"
			searchResultClass="zipeditor.search.ZipSearchResult"
			class="zipeditor.search.ZipSearchResultPage">
		</viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="zipeditor.command.selectPattern"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="zipeditor.command.reverseSelection"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="zipeditor.command.openEditor"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="zipeditor.command.quickOutline"
            name="%command.name.2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="zipeditor.command.selectPattern"
            contextId="zipeditor.zipEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2++">
      </key>
      <key
            commandId="zipeditor.command.reverseSelection"
            contextId="zipeditor.zipEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+*">
      </key>
      <key
            commandId="zipeditor.command.quickOutline"
            contextId="zipeditor.zipEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
   </extension>
    <extension point="org.eclipse.ui.contexts">
        <context
            name="%context.name"
            parentId="org.eclipse.ui.contexts.dialogAndWindow"
            id="zipeditor.zipEditorContext">
        </context>
    </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="zipeditor.popupMenu"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <action
               class="zipeditor.actions.OpenInZipEditorAction"
               enablesFor="1"
               icon="icons/zipicon.gif"
               id="zipeditor.OpenInZipEditor"
               label="%popup.name"
               menubarPath="group.open"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="zipeditor.preferences.ZipEditorPreferencePage"
            id="zipeditor.preferences.ZipEditorPreferencePage"
            name="Zip Editor">
      </page>
   </extension>

</plugin>
