<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/zipicon.gif"
            class="zipeditor.ZipEditor"
            default="true"
            name="%editor.name.0"
            id="zipeditor.ZipEditor"
            extensions="zip, jar, tgz, tar.gz, tar, gz">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="zipeditor.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="zipeditor.ZipNodePropertyPage"
            id="zipeditor.ZipNodePropertyPage"
            name="%page.name.0"
            objectClass="zipeditor.model.ZipNode"/>
      <page
            class="zipeditor.TarNodePropertyPage"
            id="zipeditor.TarNodePropertyPage"
            name="%page.name.1"
            objectClass="zipeditor.model.TarNode"/>
   </extension>

</plugin>
